<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cast</h1>
    <ul>
        {% for character in characters %}
            <li><strong>{{ character.name }}</strong>: {{ character.description }}</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{% url 'create_character' %}'">Add a Character</button>
    <button onclick="window.location.href='{% url 'scene_page' %}'">Back to Scene</button>

</body>
</html>
